<% layout('./layout/boilerplate') %>
 
    

    <div class="row">
        <h1 class="text-center">Update Camp</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
    
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" value="<%= campground.title %> " type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" value="<%= campground.location %> " type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add Image</label>
                    <input type="file" name="image" id="image">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" value="<%= campground.price %> " name="campground[price]" id="price" placeholder="0.00"
                            aria-describedby="price-label" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required> <%= campground.description %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <% campground.image.forEach(function(img,i){ %> 
                        <img src="<%= img.url %> " alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                         <input type="checkbox" id="image-<%= i %> " name="deleteImg[]" value="<%= img.filename %> ">
                        </div>
                        <label for="image-<%= i %> ">Delete?</label>
                      <% }) %> 

                </div>

                <div class="mb-3">
                    <button class="btn btn-info">Update CampGround</button>
                </div>
    
            </form>
    
            <a href="/campgrounds">Back To Capmgrounds</a>
        </div>
    </div>
